.detailsBlock {
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.detailsVisible {
  opacity: 1;
  pointer-events: auto;
}

.detailsHidden {
  opacity: 0;
  pointer-events: none;
}

.FirstTextSection {
  width: 350px;
  margin-bottom: 55px;
}

.SecondTextSection {
  margin-bottom: 55px;
  width: 400px;
}

.ThirdTextSection {
  margin-bottom: 55px;
}

.titleText {
  font-size: 28px;
  font-weight: 1000;
  margin: 30px 0px;
}

.textParagraph1,
.textParagraph2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
  width: 360px;
}
.textInfo {
  font-size: 16px;
  line-height: 18px;
}
.infoList {
  list-style-type: disc;
  padding-left: 0;
}

.infoList li::marker {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
