.containerFifthPage {
  position: relative;
  height: 830px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a0a0a0;
  transition: padding-bottom 1s ease;
  padding-bottom: 20px;
  border-bottom: 6px #fff solid;
}

.containerFifthPageExpanded {
  padding-bottom: 1720px;
}

.containerText {
  padding: 10px 14px;
  color: black;
  position: absolute;
  width: 380px;
  background-color: #d9d9d9;
  right: 0;
  top: 75px;
}
.backgroundImage {
  position: absolute;
  bottom: 0;
  left: 38%;
  height: 640px;
  transition: opacity 0.5s ease-in-out, transform 0.5 ease-in-out;
}
.backgroundImageShifted {
  transform: translateY(0%);
}
.titleText {
  font-size: 32px;
  font-weight: 700;
}
.priceContainer {
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding-left: 200px;
  line-height: 24px;
}
.price {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
}
.detailsButton {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  bottom: 15px;
  cursor: pointer;
  background-color: #d9d9d9;
  border: none;
  color: black;
}
.detailsContainer {
  padding-top: 98%;
  padding-left: 600px;
  opacity: 1;
}
.detailsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media (min-width: 380px) and (max-width: 420px) {
  .containerFifthPage {
    height: 900px;
  }
  .containerFifthPageExpanded {
    padding-bottom: 1900px;
  }
  .detailsContainer {
    padding-top: 404%;
    padding-left: 24px;
  }
  .backgroundImage {
    left: -8%;
    top: 28.5%;
    transition: opacity 0s ease-in-out, transform 0.5 ease-in-out;
  }
  .backgroundImageShifted {
    transform: translateY(112.2%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
}
@media (min-width: 420px) and (max-width: 500px) {
  .detailsContainer {
    padding-top: 350%;
    padding-left: 32px;
  }
  .backgroundImage {
    left: -8%;
    top: 22.3%;
    transition: opacity 0s ease-in-out, transform 0.5 ease-in-out;
  }
  .backgroundImageShifted {
    transform: translateY(109%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
}
