.containerTenthPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ababab;
  position: relative;
  overflow: hidden;
  height: 1000px;
}
.backgroundImage {
  position: relative;
  top: 0;
  right: -620px;
  width: auto;
  height: 1000px;
  filter: brightness(0.7);
}
.textContainer {
  position: absolute;
  top: 200px;
  left: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  z-index: 1000;
  margin-right: 10px;
}
.textTitle {
  font-size: 64px;
  font-weight: 900;
}
.textMain {
  font-weight: 500;
  padding-top: 100px;
  line-height: 40px;
  width: 1020px;
  font-size: 32px;
}

.textMain span {
  font-weight: 900;
}
.textNumber {
  font-size: 32px;
  padding-top: 30px;
  font-weight: 500;
}
@media (min-width: 380px) and (max-width: 420px) {
  .backgroundImage {
    position: absolute;
    /* top: 1%; */
    right: -200px;
    width: auto;
    height: 1000px;
  }

  .textTitle {
    font-size: 38px;
    font-weight: 900;
    width: 300px;
    line-height: 54px;
  }
  .textMain {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
    width: 361px;
    line-height: 30px;
  }
  .textNumber {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
  }
}
@media (min-width: 420px) and (max-width: 450px) {
  .backgroundImage {
    position: absolute;
    /* top: 1%; */
    right: -200px;
    width: auto;
    height: 1000px;
  }
  .textTitle {
    font-size: 38px;
    font-weight: 900;
    width: 300px;
    line-height: 54px;
  }
  .textMain {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
    width: 361px;
    line-height: 30px;
  }
  .textNumber {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 300;
  }
  .textContainer {
    margin-left: 18px;
  }
}
